.content {
    width: 680px;
    border: 1px black solid;
    margin: auto;
    font-family: 'Playfair Display', serif;
}
ul {
  padding: 0px;
}

nav ul, li {
  display: flex;
  list-style: none;
  background-color: #D0D8D0;
  justify-content: center;
  border: 1px black solid;
  width: -webkit-fill-available;
  align-items: center;
}

header {
    background-color: #DFC390;
    text-align: center;
    padding: 20px;
    border: 1px black solid;
}

h1 {
    text-align: center;
}

nav ul li:hover {
    background-color: #DFC390;
}

nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-decoration: none;
    height: 50px;
}

.current {
    background-color: #93B2C0;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.color-palette {
    width: 100%;
    min-width: 350px;
    margin: 30px auto;
    text-align: center;
  }

  .color1 {
    background-color: #DFC390;
  }

  .color2 {
    background-color: #D0D8D0;
  }

  .color3 {
    background-color: #93B2C0;
  }

  .color4{
    background-color: #FFD700;
  }

  footer {
    background-color: #DFC390;
    text-align: center;
    padding: 15px;
  }

  /* Hamburger menu logistics */

  #navbar {
    display: none;
  }

  #menu-open {
    display: none;
  }

  #navbar.menu-active {
    display: flex;
  }

  #menu-open.menu-active {
    display: inline;
  }

  #menu-close.menu-active {
    display: none;
  }

@media screen and (max-width: 800px) {
    nav ul {
        flex-direction: column;
    }
}