@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Neucha&family=Slabo+27px&display=swap');

body {
    font-family:'Slabo 27', Neucha, Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    align-items: center;
    background-color: purple;
    color: white;
    border: 2px black solid;
}

header img {
    margin: 1rem;
}

header h1 {
    text-align: center;
}

header div:nth-child(2) {
    width: 100%;
}

main h2 {
    text-align: center;
}

.lesson {
    font-family: 'Major Mono Display';
    font-weight: bold;

}

#content {
    margin: 0 auto;
    width: 800px;
}

footer {
    align-items: center;
    background-color: purple;
    color: white;
    border: 2px black solid;
    text-align: center;
    padding: 1rem;
}